<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Transaction Fraud Detection Deployment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- navigation bar -->
    <nav class="navbar">
        <div class="logo">CREDIT CARD FRAUD DETECTION DEMO</div>
        <div class="nav-links">
            <a href="/" class="active">Home</a>
            <a href="/descriptive">Descriptive</a>
            <a href="/predictive">Predictive</a>
            <a href="/prescriptive">Prescriptive</a>
        </div>
    </nav>


    <!-- welcome -->
    <div class="welcome">
        <h1>Welcome line...</h1>
        <p>
            Quick speal on the project overall.
        </p>
    </div>

</body>

</html>